/* Body Styling */
body{
    scroll-behavior: smooth;
}
/* Navbar image Styling */
nav div a img{
    width: 36px;
}
/* Color White */
.color-white{
    color: rgb(207, 207, 207) !important;
}
/* Crousel Items Styling */
.carousel-item{
    position: relative;
    top: 62px;
    height: 700px;
    z-index: -1;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
#section1{
    position: absolute;
    background: url("/bootstrapimagres3/gina-lin-m27OTMegUyA-unsplash.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#search{
    height: 46px;
    margin-top: 6px;
}
/* Section2 Styling */
#section2{
    position: relative;
    top: calc(100vh - 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section2 h2{
    padding: 24px 21px;
    position: relative;
    left: -8px;
}
.card{
    margin:11px 0 ;
}
#section2-container a{
    width: 100%;
}
#section2-container div p{
    /* color: white; */
    text-decoration: none;
    width: 55%;
    text-align: center;
}
#section2-container div h3{
    position: relative;
    top: -21px;
}
#section2-container a img{
    width: 55%;
    margin: 55px 0;
}
/* Section3 Styling */
#section3{
    position: relative;
    top: calc(100vh - 26px);
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section3 h1{
    padding: 72px;
}
#section3 form{
    width: 54.9%;
}
#section3-name-section{
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
}
#sec4{
    display: flex;
    width: 100%;
    position: relative;
    top: calc(100vh + 56px);
    justify-content: center;
}
#sec4 #s4-cntnr{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sec4 #s4-cntnr div{
    background-color: #e3e3e3;
    width: 59px;
    height: 58px;
    display: flex;
    margin: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    transition: all;
    transition-duration: 0.4s;
}
#sec4 #s4-cntnr div a{
    display: flex;
    justify-content: center;
}
#sec4 #s4-cntnr div img{
    width: 79%;
}
/* Footer Styling */
footer{
    top: calc(100vh + 56px);
    position: relative;
    width: 98.7vw;
    display: flex;
    padding: 22px;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 13px;
    overflow: hidden;
}
footer #fsec{
    padding: 0 1%;
}
footer #fsec div {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
/* Utilities */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-btn{
    border-radius: 33px;
    padding: 0 22px;
}
.change-search{
    width: 33%;
    position: relative;
    right: 55%;
}
.color-dark{
    color: black;
}
.d-flex{
    width: 66%;
    height: 54px;
}
.bg-light{
    background-color: #ecf0f3!important;
}
.mar3{
    margin: 0 3%;
}
.h3{
    margin: 22px 0;
}

@media(max-width: 1330px){
    footer{
        width: 100vw;
        top: calc(100vh + 122px + 62px);
    }
}
@media(max-width: 362px){
    #section2-container a img {
        width: 85%;
    }
    #section3 form {
        width: 87%;
    }
}
