/* Body Styling */
body{
    scroll-behavior: smooth;
}
/* Navbar image Styling */
nav div a img{
    width: 36px;
}
/* Color White */
.color-white{
    color: rgb(207, 207, 207) !important;
}



/* Section1 Styling */
#section1{
    position: absolute;
    background: url("/bootstrapimagres3/gym-526995.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#search{
    height: 46px;
    margin-top: 6px;
}




/* Section2 Styling */
#section2{
    position: relative;
    top: calc(100vh + 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section2 h2{
    padding: 24px 21px;
    position: relative;
    left: -8px;
}
.card{
    margin:11px 0 ;
}
#section2-container a{
    width: 100%;
}
#section2-container div p{
    /* color: white; */
    text-decoration: none;
    width: 55%;
    text-align: center;
}
#section2-container div h3{
    position: relative;
    top: -21px;
}
#section2-container a img{
    width: 20%;
    margin: 55px 0;
}




/* Section3 Styling */
#section3{
    top: calc(100vh + 240px);
    position: relative;
    width: 100%;
    height: 80vh;
    
}
#div1{
    content: "";
    position: absolute;
    background: url("/bootstrapimagres3/jogging-2343558_1920.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#section3 #div2{
    width: 49%;
    height: 19%;
    text-align: center;
}



/* section4 Styling */
#section4{
    position: relative;
    top: calc(100vh + 274px);
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section4 h1{
    padding: 72px;
}
#section4 form{
    width: 83%;
}
#section4-name-section{
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
}




/* Section5 Styling */
#section5{
    display: flex;
    width: 100%;
    position: relative;
    top: calc(100vh + 364px);
    justify-content: center;
}
#section5 #s4-cntnr{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#section5 #s4-cntnr div{
    background-color: #e3e3e3;
    width: 59px;
    height: 58px;
    display: flex;
    margin: 22px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    transition: all;
    transition-duration: 0.4s;
}
#section5 #s4-cntnr div a{
    display: flex;
    justify-content: center;
}
#section5 #s4-cntnr div img{
    width: 79%;
}


/* Footer Styling */
footer{
    top: calc(100vh + 470px);
    position: relative;
    width: 100%;
    display: flex;
    padding: 22px;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 13px;
    overflow: hidden;
}
footer #fsec{
    padding: 0 1%;
}
footer #fsec div {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
/* Utilities */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-btn{
    border-radius: 33px;
    padding: 0 22px;
}
.change-search{
    width: 33%;
    position: relative;
    right: 55%;
}
.color-dark{
    color: black;
}
.d-flex{
    width: 66%;
    height: 54px;
}
.bg-light{
    background-color: #ecf0f3!important;
}
.mar3{
    margin: 0 3%;
}
.h3{
    margin: 22px 0;
}
@media(max-width: 991px){
    .color-dark{
        color: white;
    }
    #active{
        color: red !important;
    }
}
@media(max-width: 700px){
    #section3 {
        font-size: 0.6rem;
    }
}
@media(max-width: 585px){
    #section3 #div2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media(max-width: 362px){
    #section2-container a img {
        width: 62%;
    }
    #section3{
        font-size: 0.8rem;
    }
    #section4 form {
        width: 87%;
    }
}
