/* Body Styling */
body{
    scroll-behavior: smooth;
}
/* Navbar image Styling */
nav div a img{
    width: 36px;
}
/* Color White */
.color-white{
    color: rgb(207, 207, 207) !important;
}



/* Section1 Styling */
#section1{
    position: absolute;
    background: url("/bootstrapimagres3/sport-966991_1920.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#search{
    height: 46px;
    margin-top: 6px;
}


/* Section2 Styling */
#section2{
    position: relative;
    top: calc(100vh + 75px);
    text-align: center;
}
#section2 .main-container{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    padding: 0 32px;
    text-align: left;
}






/* Footer Styling */
footer{
    top: calc(100vh + 170px);
    position: relative;
    width: 100%;
    display: flex;
    padding: 22px;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 13px;
    overflow: hidden;
}
footer #fsec div {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
/* Utilities */
.d-flex{
    width: 66%;
    height: 54px;
}
@media(max-width: 991px){
    .color-dark{
        color: white !important;
    }
    #active{
        color: red !important;
    }
    .navbar-collapse {
        margin-top: 16px;
    }
}
@media(max-width: 756px){
    #section2 .main-container {
        justify-content: center;
    }
    #section2 .main-container .item-container {
        width: 100%;
    }
}

