/* Body Styling */
body{
    scroll-behavior: smooth;
}
/* Navbar image Styling */
nav div a img{
    width: 36px;
}
/* Color White */
.color-white{
    color: rgb(207, 207, 207) !important;
}
/* Crousel Items Styling */
.carousel-item{
    position: relative;
    top: 62px;
    height: 700px;
    z-index: -1;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}


/* Section1 Styling */
#section1{
    position: absolute;
    background: url("/bootstrapimagres3/pexels-dom-j-45058.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#search{
    height: 46px;
    margin-top: 6px;
}
/* Section2 Styling */
#section2{
    position: relative;
    top: calc(100vh - 38px);
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
}
.main-container .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container{
    display: flex;
}
.item-container p{
    padding-top: 40px;
    padding-right: 8px;
}
.main-container div img{
    margin: 44px 0;
}
.main-container div h4{
    position: relative;
    top: -15px;
}
.s-container, .n-container{
    flex-direction: column;
    align-items: center;
    margin: 23px 3%;
}
.s-container{
    display: flex;
}
.n-container{
    display: none;
}
/* Footer Styling */
footer{
    top: calc(100vh + 52px);
    position: relative;
    width: 98.7vw;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 13px;
    overflow: hidden;
}
footer #fsec{
    padding: 22px;
}
footer #fsec div {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
/* Utilities */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-btn{
    border-radius: 33px;
    padding: 0 22px;
}
.change-search{
    width: 33%;
    position: relative;
    right: 55%;
}
.color-dark{
    color: black;
}
.d-flex{
    width: 66%;
    height: 54px;
}
.bg-light{
    background-color: #ecf0f3!important;
}
.mar3{
    margin: 0 3%;
}
h1{
    padding: 48px 0;
}
.h3{
    margin: 22px 0;
}
.s-container {
    margin: 23px 0 !important;
}
@media(max-width: 1330px){
    footer{
        width: 100vw;
        top: calc(100vh + 122px);
    }
}
@media(max-width: 1090px){
    .s-container {
        display: none !important;
    }
    .n-container{
        display: flex;
    }
    .item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item-container p{
        padding: 0 22px;
    }
}
@media(max-width: 800px) and (min-width: 600px){
    img{
        width: 78%;
    }
    .n-container img {
        width: 190% !important;
    }
}
@media(max-width: 280px){
    footer {
        width: 99.9%;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-right: 0;
        padding-left: 0;
    }
    .item-container {
        width: 104%;
    }
    .main-container div img {
        margin: 44px 0;
        width: 89%;
    }
}