/* Body Styling */
body{
    scroll-behavior: smooth;
}
/* Navbar image Styling */
nav div a img{
    width: 36px;
}
/* Alert Styling */
.alert{
    position: absolute;
    top: 70px;
    width: 100%;
}
/* Color White */
.color-white{
    color: rgb(207, 207, 207) !important;
}
/* Crousel Items Styling */
.carousel-item{
    position: relative;
    top: 62px;
    height: 700px;
    z-index: -1;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
#section1{
    position: absolute;
    background: url("/bootstrapimagres3/pexels-dom-j-45058.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
}
#search{
    height: 46px;
    margin-top: 6px;
}
/* Section2 Styling */
#section2{
    position: relative;
    top: 742px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
}
.main-container .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container{
    display: flex;
}
.item-container p{
    padding-top: 40px;
    padding-right: 22px;
}
.main-container div img{
    margin: 44px 0;
}
.main-container div h4{
    position: relative;
    top: -15px;
}
.main-container h1{
    text-decoration: underline;
}
.s-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23px 3%;
}
.n-container{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 23px 3%;
}
/* Footer Styling */
footer{
    top: 830px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 13px;
    overflow: hidden;
}
footer #fsec{
    padding: 0 1%;
}
footer #fsec div {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
/* Utilities */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-btn{
    border-radius: 33px;
}
.change-search{
    width: 33%;
    position: relative;
    right: 55%;
}
.color-dark{
    color: black;
}
.d-flex{
    width: 66%;
    height: 54px;
}
.bg-light{
    background-color: #ecf0f3!important;
}
.mar3{
    margin: 0 3%;
}
.h3{
    margin: 22px 0;
}
@media(max-width: 1176px){
    .s-container{
        display: none;
    }
    .n-container{
        display: flex;
    }
}
@media(max-width: 792px){
    .item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item-container p{
        padding: 0 22px;
    }
}