/* Utilities */
.change-btn{
    border-radius: 33px;
}
.change-search{
    width: 33%;
    position: relative;
    right: 55%;
}
/* Navbar Image Styling */
nav img{
    width: 33px;
}
#sec1{
    position: absolute;
    background: url("/bootstrapimagres3/pexels-william-choquette-1954524.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
}
#search{
    height: 46px;
    margin-top: 6px;
}
/* Section2 Styling */
#sec2{
    position: relative;
    top: 742px;
    display: flex;
    justify-content: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
}
.main-container .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-container{
    display: flex;
}
.item-container p{
    padding-top: 40px;
    padding-right: 22px;
}
.main-container div img{
    margin: 44px 0;
}
.main-container div h4{
    position: relative;
    top: -15px;
}
.main-container h1{
    text-decoration: none;
}

/* body-part Stying */
.body-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-part h3{
    margin: 30px 0;
    padding: 33px 0;
}
/* body-part Stying: body-part-container Styling */
.body-part-container{
    display: flex;
}
.s-seperator{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23px 3%;
}
.n-seperator{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 23px 3%;
}
/* Footer Styling */
footer{
    top: 830px;
    position: relative;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
    padding-top: 13px;
    overflow: hidden;
}
footer #fsec{
    padding: 0 1%;
}
footer #fsec div {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
}
/* Utilities */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-btn{
    border-radius: 33px;
}
.change-search{
    width: 33%;
    position: relative;
    right: 55%;
}
.color-dark{
    color: black;
}
.d-flex{
    width: 66%;
    height: 54px;
}
.bg-light{
    background-color: #ecf0f3!important;
}
.mar3{
    margin: 0 3%;
}
.h3{
    margin: 22px 0;
}
@media(max-width: 1176px){
    .item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .item-container p{
        padding: 0 22px;
    }
    .s-seperator{
        display: none;
    }
    .n-seperator{
        display: flex;
    }
}
@media(max-width: 701px){
    #sec1{
        background: url("/bootstrapimagres3/pexels-william-choquette-1954524.jpg") no-repeat center right/cover;
    }
}
@media(max-width: 351px){
    .main-container div img {
        width: 100%;
    }
}